@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0;
   padding:0;   
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    overflow-y: hidden;
}
.navtitle{
      border: 2px solid black;
      height: 60px;
      display: flex;
      align-items: center;
    
}
.navtitle .hots div{
       background-color: rgb(146, 28, 28);
       color: white;
       width: 80px;
       height: 30px;
       border: 2px solid black;
       border-radius: 30px;
       text-align: center;
       padding-top: 10px;
       cursor: pointer;
       margin-left: 60px;
       
}
.navtitle .navtitletext{
    margin-left: 15px;
}
.navtitle .usd{
 margin-left: 500px;
}
.navtitle .usd div select{
    border: none;
}
.navtitle .Eng {
     margin-left: 20px;
  
     
}
.navtitle .Eng div select {
       border: none;
}
.navtitle .needhelp {
     background-color: rgb(199, 250, 255);
     border-radius: 10px;
     display: flex;
     height: 40px;
     width: 120px;
     margin-left: 20px;
     align-items: center;
     /* padding-left: 10px; */
     justify-content: space-evenly;
     cursor: pointer;
}

.navtitle .callus{
     margin-left: 20px;
     border: 2px solid black;
     border-radius: 20px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    padding-left: 10px;

}
.navtitle .callus .callusdip{
    display: flex;
    align-items: center;

      border-radius: 20px;
     border: 20px;
     height: 30px;
     background-color: rgb(30, 222, 30);
     width: 70px;
     padding-left: 20px;
   cursor: pointer;
}
/* =========================================================navTitle end======================================== */
.navbar{
     margin-top: 20px;
     display: flex;
     align-items: center;

}
.navbar article div img{
      width: 100px;
      margin-left: 40px;
}
.navbar article .search{
    margin-left: 160px;
     width: 650px;
     height: 45px;
     border-radius: 20px;
     padding-left: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 0.1px solid black;
     
}
.navbar article div input{
    border: none;

}
.navbar article div i{
    margin-right: 10px;
}
.navbar .Wishlist 
{
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 45px;
 
}
.navbar .Wishlist .heardicon{
    height: 30px;
    background-color: #f1f2fE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    border-radius: 5px;
}
.navbar .Wishlist div p{
     font-size: 15px;
}
.navbar .Trackorder{
margin-left: 20px;
  display: flex;
  align-items: center;
  height: 45px;
}
.navbar .Trackorder .heardicon{
        height: 30px;
    background-color: #f1f2fE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    border-radius: 5px;
}
.navbar .Trackorder div p{
      font-size: 15px;
}

   
.navbar .contect{
margin-left: 20px;
  display: flex;
  align-items: center;
  height: 45px;
}
.navbar .contect .heardicon{
        height: 30px;
    background-color: #f1f2fE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    border-radius: 5px;
}
.navbar .contect div p{
      font-size: 15px;
}

.navbar .shoping{
    margin-left: 20px;
  display: flex;
  align-items: center;
  height: 45px;
   background-color: #f1f2fE;
   width: 60px;
   padding-left: 35px;
}
.navbar .shoping i{
size: 30px;
}
/* ===================navbar end========================== */
.info{
     margin-top: 20px;
     display: flex;
     justify-content: space-evenly;
     font-size: 20px;
}
/* ===============end info============================= */
.sidebar{
      position: absolute;
      height: 300px;
      width: 100px;
      margin-left: 1470px;
 
}
.sidebar article div{
    height: 50px;
      width: 50px;
      background-color: whitesmoke;
      color: white;
     border: 2px solid black;
     margin-top: 10px;
}